@tailwind base;
@tailwind components;
@tailwind utilities;


.side-bar{
    border: 1px solid  #c2c2d1;
    position: fixed;
    width: 100px !important;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
}
.nav-link{
    font-size: 10px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    color:burlywood  !important;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    color:burlywood  !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    padding-left:120px !important; 
    background-color: white;
  }
